.custom-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 64vw;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
}

.markdown {
  padding: 10px;
  width: 36vw;
  background-color: #676778;
  color: white;
}

.header {
  z-index: 1;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  max-height: 5rem;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.github {
  max-height: 2.5rem;
}